<div class="modal fade" id="edit-churchgoer-modal" tabindex="-1" aria-labelledby="edit-churchgoer-modal" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit [name] Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col">
                <label for="first-name" class="form-label">First Name</label>
                <input class="form-control form-control-sm" id="first-name" value="Keigo">
                <div id="first-name-error" class="form-text">Names cannot have numbers</div>
            </div>

            <div class="col">
                <label for="last-name" class="form-label">Last Name</label>
                <input class="form-control form-control-sm" id="last-name" value="Higashino">
                <div id="last-name-error" class="form-text">Names cannot have numbers</div>
            </div>
          </div>

          <div class="row">
            <div class="col">
                <label for="phone-num" class="form-label">Phone Number</label>
                <input class="form-control form-control-sm" id="phone-num" type="number" value="09999999999">
                <div id="phone-num-error" class="form-text">Invalid phone number format</div>
            </div>

            <div class="col">
                <label for="birthday" class="form-label">Birthday</label>
                <input class="form-control form-control-sm" type="date" id="birthday" value="2001/05/05">
                <div id="birthday-error" class="form-text">Cannot input a date past today's date</div>
            </div>

            <div class="col">
                <label for="gender" class="form-label">Gender</label>
                <select name="gender" class="form-select form-select-sm" id="gender">
                    <option selected hidden value="current-gender">Male</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
          </div>

          <div class="mb-3">
              <label for="address" class="form-label">Address</label>
              <input class="form-control form-control-sm" id="address" value="123 Banda Doon">
          </div>

          <div class="row">
            <div class="col">
                <label for="baptismstatus" class="form-label">Baptism
                    Status</label>
                <select
                    name="baptismstatus"
                    class="form-select form-select-sm"
                    id="baptismstatus"
                >
                    <option selected hidden value="current-baptism">Unbaptized</option>
                    <option value="Unbaptized">Unbaptized</option>
                    <option value="Infant Baptism">Infant Baptism</option>
                    <option value="Water Baptism">Water Baptism</option>
                </select>
            </div>

            <div class="col">
                <label for="province" class="form-label" disabled="true">Baptismal Date</label>
                <input
                    type="date"
                    class="form-control form-control-sm"
                    id="baptismaldate"
                />
                <div id="birthday-error" class="form-text">Cannot input a date past today's date</div>
            </div>
          </div>

          <div class="mb-3">
              <label for="address" class="form-label">Baptism Location</label>
              <input class="form-control form-control-sm" id="address" value="123 Banda Doon">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>