<tr>
	<td>{{ lastname }}, {{ firstname }}</td>
	<td class="right-align">
		<button
			type="button"
			id="trigger-delete-modal"
			class="fa-button"
			aria-label="trigger-delete-modal"
			data-bs-toggle="modal"
			data-bs-target="#delete-modal"
			data-id = {{ phonenum }}
		>
			<i class="fa-solid fa-trash"></i>
		</button>
        <button
			type="button"
			id="trigger-edit-modal"
			class="fa-button"
			aria-label="trigger-edit-modal"
			data-bs-toggle="modal"
			data-bs-target="#edit-modal"
			data-id = {{ phonenum }}
		>
			 <i class="fa-solid fa-pencil"></i>
		</button>
	</td>
</tr>