<tbody>
    <tr>
        <td>
            <a href="/session"
                >{{ date }}</a
            >
        </td>
        <td>{{ session }}</td>
        <td class="right-align">
            <button
                type="button"
                class="delete"
                aria-label="delete-button"
                data-date = "{{ date }}"
                data-session = {{ session }}
            >
                <i class="fa-solid fa-trash"></i>
            </button>
        </td>
    </tr>
</tbody>