<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Bootstrap CDN -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
        <!-- Font Awesome CDN -->
        <script
            src="https://kit.fontawesome.com/eb29fe9d41.js"
            crossorigin="anonymous"
        ></script>

        <!-- jQuery CDN  -->
        <script
            src="https://code.jquery.com/jquery-3.6.1.js"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
            crossorigin="anonymous"
        ></script>
        <script type="text/javascript" src="/js/register_churchgoer.js"></script>
        <script type="text/javascript" src="/js/csv_to_json.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/register.css" />

        <title>UCCA</title>
    </head>
    <body>
        <div class="container-fluid h-100">
            <div>
                {{!-- Navigation Bar --}}
                {{> navbar}}
            </div>

            <div class="content">
                <div>
                    <p id="navigation">Registration / Register Churchgoer</p>
                </div>

                <div id="registration-form">
                    <form id="register-churchgoer">
                        <div class="d-flex justify-content-between">
                            <div class="section">
                                <div class="row">
                                    <div class="col">
                                        <label for="firstname" class="form-label">First Name</label>
                                        <input class="form-control" id="firstname" />
                                    </div>

                                    <div class="col">
                                        <label for="lastname" class="form-label">Last Name</label>
                                        <input class="form-control" id="lastname" />
                                    </div>
                                </div>

                                {{!-- Phone Number & Birthday --}}
                                <div class="row">
                                    <div class="col">
                                        <label for="phonenum" class="form-label">Phone Number</label>
                                        <input type="number" class="form-control" id="phonenum" />
                                    </div>
                                    <div class="col">
                                        <label
                                            for="birthdate"
                                            class="form-label"
                                        >Birthdate</label>
                                        <input
                                            type="date"
                                            class="form-control"
                                            id="birthdate"
                                        />
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="gender" class="form-label">Gender</label>
                                    <select name="gender" class="form-select" id="gender">
                                        <option selected disabled hidden>Select gender</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="address" class="form-label">Address</label>
                                    <input class="form-control" id="address" />
                                </div>
                            </div>

                            <div class="vr"></div>

                            <div class="section">
                                <div class="row">
                                    <div class="col">
                                        <label for="baptismstatus" class="form-label">Baptism
                                            Status</label>
                                        <select
                                            name="baptismstatus"
                                            class="form-select"
                                            id="baptismstatus"
                                        >
                                            <option selected disabled hidden>Select Baptism
                                                Status</option>
                                            <option value="Unbaptized">Unbaptized</option>
                                            <option value="Infant Baptism">Infant Baptism</option>
                                            <option value="Water Baptism">Water Baptism</option>
                                        </select>
                                    </div>

                                    <div class="col">
                                        <label for="province" class="form-label" disabled="true">Baptismal Date</label>
                                        <input
                                            type="date"
                                            class="form-control"
                                            id="baptismaldate"
                                        />
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="cell-number" class="form-label">Baptismal
                                        Location</label>
                                    <input class="form-control" id="baptismallocation" disabled="true"/>
                                </div>
                    
                                <div class="mb-3">
                                    <label
                                        for="password1"
                                        class="form-label"
                                    >Password</label>
                                    <input type="password" class="form-control" id="password1" />
                                </div>

                                <div class="mb-3">
                                    <label for="password2" class="form-label">Repeat
                                        Password</label>
                                    <input type="password" class="form-control" id="password2" />
                                </div>
                            </div>
                        </div>
                        
                        <div class="d-flex justify-content-center">
                            <button
                                type="button"
                                id="submit-single"
                                class="btn btn-dark"
                                >Register Churchgoer
                            </button>
                        </div>
                        <p id = "errorText"></p>
                    </form>
                </div>

                <div class="strike">
                    <span>or</span>
                </div>

                <div class="w100 d-flex justify-content-center align-items-center">
                    <form id="register-multiple-churchgoer" action="/addMultipleCG" method="post" enctype="multipart/form-data">
                        <label for="csv-input" class="btn btn-dark">
                            <input type="file" accept = ".csv" name="csv" id="csv" hidden> Choose .csv File
                        </label>
                        <button type="submit" id="submit-bulk" class="btn btn-dark">Import</button>
                    </form>
                    <div>
                        <button type="button" id="trigger-help-modal">
                            <i class="fa-regular fa-circle-question"></i>
                        </button>
                    </div>
                </div>

                <div class="margin-end"></div>
            </div>
        </div>

        <!-- JavaScript -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
        ></script>
    </body>
</html>