<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Bootstrap CDN -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
        <!-- Font Awesome CDN -->
        <script
            src="https://kit.fontawesome.com/eb29fe9d41.js"
            crossorigin="anonymous"
        ></script>

        <!-- jQuery CDN  -->
        <script
            src="https://code.jquery.com/jquery-3.6.1.js"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
            crossorigin="anonymous"
        ></script>
        <script type="text/javascript" src="/js/register_churchgoer.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/register.css" />

        <title>UCCA</title>
    </head>
    <body>
        <div class="container-fluid">
            <div>
                {{!-- Navigation Bar --}}
                {{> navbar}}
            </div>

            <div class="content">
                {{> breadcrumbs navigation="<p class=\"fs-5\">Registration / Register Churchgoer</p>" date="INSERT DATE HERE"}}

                <div id="registration-form">
                    <form id="register-churchgoer">
                        <div class="row gx-5">
                            <div class="border-end col-xs-12 col-md-6">
                                {{!-- Name --}}
                                <div class="row mb-3">
                                    <div class="col-xs-12 col-sm-6 mb-3 mb-sm-0">
                                        <label for="firstname" class="form-label">First Name</label>
                                        <input class="form-control form-control-sm" id="firstname" />
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <label for="lastname" class="form-label">Last Name</label>
                                        <input class="form-control form-control-sm" id="lastname" />
                                    </div>
                                </div>
                                {{!-- Phone Number, Birthday, & Gender --}}
                                <div class="row mb-3">
                                    <div class="col-xs-6 col-sm-4 mb-3 mb-sm-0">
                                        <label for="phonenum" class="form-label">Phone No.</label>
                                        <input type="number" class="form-control form-control-sm" id="phonenum" />
                                    </div>
                                    <div class="col-xs-6 col-sm-4 mb-3 mb-sm-0">
                                        <label
                                            for="birthdate"
                                            class="form-label"
                                        >Birthdate</label>
                                        <input
                                            type="date"
                                            class="form-control form-control-sm"
                                            id="birthdate"
                                        />
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                        <label for="gender" class="form-label">Gender</label>
                                        <select name="gender" class="form-select form-select-sm" id="gender">
                                            <option selected disabled hidden value="">Select gender</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </div>
                                </div>
                                {{!-- Address --}}
                                <div class="row mb-3">
                                    <div class="col-xs-12">
                                        <label for="address" class="form-label">Address</label>
                                        <input class="form-control form-control-sm" id="address" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-6 d-flex flex-column justify-content-between">
                                <div>
                                    <div class="row mb-3">
                                        {{!-- Baptism Status --}}
                                        <div class="col-xs-12 col-sm-6 mb-3 mb-sm-0">
                                            <label for="baptismstatus" class="form-label">Baptism Status</label>
                                            <select
                                                name="baptismstatus"
                                                class="form-select form-select-sm"
                                                id="baptismstatus"
                                            >
                                                <option selected disabled hidden value="">Select Baptism Status</option>
                                                <option value="Unbaptized">Unbaptized</option>
                                                <option value="Infant Baptism">Infant Baptism</option>
                                                <option value="Water Baptism">Water Baptism</option>
                                            </select>
                                        </div>
                                        {{!-- Baptismal Date --}}
                                        <div class="col-xs-12 col-sm-6">
                                            <label for="province" class="form-label">Baptismal Date</label>
                                            <input
                                                type="date"
                                                class="form-control form-control-sm"
                                                id="baptismaldate"
                                                disabled="true"
                                            />
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        {{!-- Baptismal Location --}}
                                        <div class="col-xs-12">
                                            <label for="cell-number" class="form-label">Baptismal Location</label>
                                            <input class="form-control form-control-sm" id="baptismallocation" disabled="true"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col d-flex flex-column align-items-center flex-md-row align-items-md-end">
                                        <div>
                                            <button
                                                type="button"
                                                id="submit-single"
                                                class="btn btn-dark btn-sm"
                                                >Register Churchgoer
                                            </button>
                                        </div>
                                        <div>
                                            <p id="errorText" class="mb-0 ms-2"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="row my-3">
                    <div class="col"><hr></div>
                    <div class="col-auto"><p>or</p></div>
                    <div class="col"><hr></div>
                </div>

                <div class="d-flex flex-column align-items-center">
                    <div class="d-flex justify-content-center align-items-center mb-3">
                        {{!-- Upload csv file --}}
                        <div>
                            <input class="form-control" type="file" name="csv" id="csv" accept=".csv" aria-labelledby="import-csv">
                        </div>
                        {{!-- Help button --}}
                        <div>
                            <button type="button" id="trigger-help-modal" class="fa-button">
                                <i class="fa-regular fa-circle-question"></i>
                            </button>
                        </div>
                    </div>
                    {{!-- Confirmation of bulk registration --}}
                    <div>
                        <button type="button" id="submit-bulk" class="btn btn-dark">Bulk Registration Using CSV File</button>
                    </div>
                </div>
            </div>

            {{> toast message="Churchgoer registration success! :D"}}
            {{!-- <div class="mb-5"></div> --}}
        </div>

        <!-- JavaScript -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
        ></script>
    </body>
</html>