<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Bootstrap CDN -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
        <!-- Font Awesome CDN -->
        <script
            src="https://kit.fontawesome.com/eb29fe9d41.js"
            crossorigin="anonymous"
        ></script>

        <!-- jQuery CDN  -->
        <script
            src="https://code.jquery.com/jquery-3.6.1.js"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
            crossorigin="anonymous"
        ></script>
        <script type="text/javascript" src="/js/register_admin.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/register.css" />

        <title>UCCA</title>
    </head>
    <body>
        <div class="container-fluid">
            <div>
                {{!-- Navigation Bar --}}
                {{> navbar}}
            </div>

            <div class="content">
                {{> breadcrumbs navigation="<p class=\"fs-5\">Registration / Register Moderator</p>" date="INSERT DATE HERE"}}

                <div id="moderator-registration" class="row gx-5">
                    <div class="border-end col-12 col-md-6">
                        <p class="fs-6 fw-bold">Single Moderator Registration</p>
                        <form id="register-moderator">
                            <div class="row mb-3">
                                <div class="col-12 col-sm-6 mb-3 mb-sm-0">
                                    <label for="firstname" class="form-label">First Name</label>
                                    <input class="form-control form-control-sm" id="firstname" />
                                </div>
                                <div class="col-12 col-sm-6">
                                    <label for="lastname" class="form-label">Last Name</label>
                                    <input class="form-control form-control-sm" id="lastname" />
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col">
                                    <label for="address" class="form-label">Phone No.</label>
                                    <input class="form-control form-control-sm" id="phonenum" />
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col">
                                    <label for="password1" class="form-label">Password</label>
                                    <input type="password" class="form-control form-control-sm" id="password1" />
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col">
                                    <label for="password2" class="form-label">Repeat Password</label>
                                    <input type="password" class="form-control form-control-sm" id="password2" />
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col d-flex flex-column align-items-center flex-md-row align-items-md-end">
                                    <div>
                                        <button
                                            type="button"
                                            id="submit-single"
                                            class="btn btn-dark"
                                        >Register Moderator
                                        </button>
                                    </div>
                                    <div>
                                        <p id="errorText" class="mb-0 ms-2"></p>
                                    </div>
                                </div>
                                    
                            </div>
                        </form>

                        <div class="row my-3 divider">
                            <div class="col"><hr></div>
                            <div class="col-auto"><p>or</p></div>
                            <div class="col"><hr></div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 d-flex flex-column align-items-center align-items-md-start">
                        <p class="fs-6 fw-bold">Multiple Moderator Registration</p>
                        
                        <div class="d-flex align-items-center mb-3">
                            <div>
                                <input class="form-control" type="file" name="csv" id="csv" accept=".csv" aria-labelledby="import-csv">
                            </div>
                            
                            <div>
                                <button type="button" id="trigger-help-modal" class="fa-button">
                                    <i class="fa-regular fa-circle-question"></i>
                                </button>
                            </div>
                        </div>
                        <div>
                            <button type="button" id="submit-bulk" class="btn btn-dark">Bulk Registration Using CSV File</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-5"></div>
        </div>

        <!-- JavaScript -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
        ></script>
    </body>
</html>