<html>
    <head>
        <title>Ticket was posted successfully - ITRF-iFAE</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <button onclick="window.location.href='/form1';">Submit Another Request</button>
        <button onclick="window.location.href='/';">Return to Home</button>
    </body>
</html>