body {
    background-color: #F2F2F2;
}

div {
    margin: auto;
}

.index-choice {
    height: 50%;
    width: 75%;
    display: flex !important;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

