.bold {
    font-weight: bold;
}

.padding-bot-0 {
    margin-bottom: 0;
}

h1 {
    font-size: 54px;
    margin-bottom: 0;
}

#baptism {
    font-size: 29px;
}

#details {
    font-size: 20px;
    margin-bottom: 0;
}

#edit-user {
    border: none;
    background-color: transparent;
}

hr {
    width: 100vw;
}

#w50 {
    width: 50%;
}

#delete-member {
    border: none;
    color: red;
    background-color: transparent;
}