#errorText {
    color: red;
}

/* below sm */
@media (max-width: 767.98px) {
    .border-end {
        border-right: none!important;
    }

    .fs-6 {
        display: none;
    }
}

/* sm and above */
@media (min-width: 768px) {
    .divider {
        display: none;
    }
}