.fa-button {
    border: none;
    background-color: transparent;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

#space {
    padding-right: 1%;
}

.right-align {
    text-align: right;
}

.margin-below {
    margin-bottom: 0.5%;
}

/* .table {
    width: 60%;
    margin: auto;
} */

#repository {
    width: 70%;
    margin: auto;
}

#search {
    width: 40%;
    margin-bottom: 3%;
}

#sort-group {
    height: 10px;
}

.page-link {
    color: black;
}

.page-link:hover {
    color: black;
}