.container {
    border-radius: 25px;
    background-color: #989898ce;
    padding: 25px;
    width: 350px; /*25%*/
    height: auto;
	margin: 0 auto;
	margin-top: 25px;
    text-align: center;
    box-shadow: 25px;
}

h1 {
	font-family: cursive;
	font-size: 45px;
	color: white;
}

h2 {
	color: white;
	font-size: 35px;
}

#submitBtn{
    background-color: #7868e6;
    width: 75%;
	height: 7.5%;
    color: #edeef7;
    padding: 15px;
    margin: 8px 0px;
    border: none;
    cursor: pointer;
    background: linear-gradient(to top right, #b8b5ff 0%, #7868e6 74%);
}
#submitBtn:hover{
	transform: scale(1.1);
}
input {
	background: none;
	border: none;
	width: 100%;
	outline: none;
	color: white;
	height: 25px;
	font-size: 20px;
}

.text_container {
	border-bottom: 2px solid white;
	position: relative;
	margin: 40px 0;
}


#errorText{
	margin-bottom: 10px;
	font-size: 15px;
	color: maroon;
}
