body{
    background: linear-gradient(to right top, #CCFF99, #66FF66, #33FF99, #00FFFF, #0066CC) no-repeat fixed center;
    font-family: Helvetica;
    line-height: 1.5;
}

div.navigation {
	position: sticky;
	width: 100%;
	height: 80px;
	top: 0;
    margin-top: -1%;
    margin-bottom: 50px;
	border: 1px solid #989898ce;
	background-color: rgb(24, 23, 23);
	text-align: center;
}
.navigation a:link{
    text-decoration: none;
}
#proBtn{
    float:right;
    padding-top: 15px;
    margin-right: 15px;
    font-size: 25px;
	font-family: cursive;
}
#LR{
    float: left;
    padding-top: 15px;
    margin-left: 15px;
    font-size: 25px;
	font-family: cursive;
}
#LR a, #proBtn a{
    text-decoration: none;
    color: darkcyan;
}
#LR a:hover{
    transform: scale(1.1);
    text-decoration: none;
    color:white;
}
.navigation-title {
	font-size: 45px;
	font-family: cursive;
	color: white;
    margin: 0 auto;
    text-decoration: none;
}
